= form_for @director do |f|
  - if @director.errors.any?
    #error_explanation
      %h2= t('application.cannot_be_update')
      %ul
        - @director.errors.full_messages.each do |message|
          %li= message
  .div.m-4 
  .page.header
    %h1.mx-4
      =t('application.edit_model', model: t('activerecord.modules.director.one'))

  .form-group.mx-4
    = f.label :first_name, class: "form-label required"
    .div.w-25
      =f.text_field :first_name, autofocus: true, class: "form-control"

  .form-group.mx-4
    = f.label :last_name, class: "form-label required"
    .div.w-25
      =f.text_field :last_name, autofocus: true, class: "form-control"

  .row.mt-4
    .offset-3.col-3
      = link_to t('application.back'), directors_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag t('application.save'), class: "btn btn-outline-secondary btn-block"


