%h1 Lista de Directores

%table
  %thead
    %tr
      %th Nombre
      %th Apellido
      %th
      %th
      %th

  %tbody
    - @directors.each do |director|
      %tr
        %td= director.first_name
        %td= director.last_name
        %td= link_to 'Mostrar', director
        %td= link_to 'Editar', edit_director_path(director)
        %td= link_to 'Eliminar', director, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nuevo Director', new_director_path
= link_to 'Volver', root_path