%h1= t('activerecord.modules.director.one')

%p#notice= notice

.div.m-4
  .card
    .card-body
      %h5.card-title
        = t('activerecord.attributes.director.first_name')
      %p.card-text= @director.first_name
      %h5.card-title
        = t('activerecord.attributes.director.last_name')
      %p.card-text= @director.last_name

.row.mt-4
  .offset-3.col-3
    = link_to t('application.back'), directors_path, class: "btn btn-secondary"
  .col-3
    = link_to t('application.edit'), edit_director_path(@director), class: "btn btn-success"